---
import Layout from '../layouts/Layout.astro';
import ScrollProgress from '../components/ScrollProgress.astro';
import Navbar from '../components/Navbar.astro';
import Hero from '../components/Hero.astro';
import TrustBar from '../components/TrustBar.astro';
import Features from '../components/Features.astro';
import HowItWorks from '../components/HowItWorks.astro';
import AppShowcase from '../components/AppShowcase.astro';
import Mission from '../components/Mission.astro';
import Testimonials from '../components/Testimonials.astro';
import FAQ from '../components/FAQ.astro';
import CTA from '../components/CTA.astro';
import Footer from '../components/Footer.astro';
import MobileCta from '../components/MobileCta.astro';
---

<Layout>
  <ScrollProgress />
  <Navbar />
  <main>
    <Hero />
    <TrustBar />
    <Features />
    <HowItWorks />
    <AppShowcase />
    <Mission />
    <Testimonials />
    <FAQ />
    <CTA />
  </main>
  <Footer />
  <MobileCta />
</Layout>
