---
import Layout from '../layouts/Layout.astro';
import ScrollProgress from '../components/layout/ScrollProgress.astro';
import Navbar from '../components/layout/Navbar.astro';
import Hero from '../components/sections/Hero.astro';
import TrustBar from '../components/sections/TrustBar.astro';
import Features from '../components/sections/Features.astro';
import HorizontalScenes from '../components/sections/HorizontalScenes.astro';
import Testimonials from '../components/sections/Testimonials.astro';
import FAQ from '../components/sections/FAQ.astro';
import CTA from '../components/sections/CTA.astro';
import Footer from '../components/layout/Footer.astro';
import MobileCta from '../components/layout/MobileCta.astro';
---

<Layout>
  <ScrollProgress />
  <Navbar />
  <main>
    <Hero />
    <TrustBar />
    <Features />
    <HorizontalScenes />
    <Testimonials />
    <FAQ />
    <CTA />
  </main>
  <Footer />
  <MobileCta />
</Layout>
